# Binaries for programs and plugins
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Dependency directories
vendor/

# Test coverage files
*.out
*.prof
cover.out
coverage.html

# IDE and tool configurations
.idea/
.vscode/
*.swp
*.swo

# Environment variables (SANGAT PENTING!)
.env

# Database/Log files
*.log
data/
